/* common */
.container {
    display:flex;
}
.markdown-body a {
    color: #4183c4;
}

.markdown-body a:hover {
    color: #1e70bf;
}

#totop-icon {
    position: fixed;
    bottom: 22px;
    right: 50px;
    display: none;
}

#main-markdown-404 {
    text-align: center;
}
#main-markdown-content, main-markdown-toc {
    display:none;
}
#menu-icon {
    position: fixed;
    left: 340px;
    top: 22px;
}

#menu-icon, #menu-icon:visited {
    color: #666;
}

#help-icon {
    position: fixed;
    right: 50px;
    top: 22px;
}

#help-icon, #help-icon:visited {
    color: #666;
}

#totop-icon, #totop-icon:visited {
    color: #666;
}

.ui.dimmer {
    display: block;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    opacity: 0.95;
    z-index: 1000;
}

.loading {
    position: absolute;
    top: 40%;
    left: 48%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #BEBEBE;
    border-left: 5px solid #498aca;
    animation: load 1s linear infinite;
    -moz-animation:load 1s linear infinite;
    -webkit-animation: load 1s linear infinite;
    -o-animation:load 1s linear infinite;
}
.loading-small {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    border: 5px solid #BEBEBE;
    border-left: 5px solid #498aca;
    animation: load 1s linear infinite;
    -moz-animation:load 1s linear infinite;
    -webkit-animation: load 1s linear infinite;
    -o-animation:load 1s linear infinite;
}
@-webkit-keyframes load
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes load
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-o-keyframes load
{
    from{-o-transform:rotate(0deg);}
    to{-o-transform:rotate(360deg);}
}

li.active {
    font-weight: bold;
    background-color: #e5e5e5;
}

.markdown-toc-list {
    font-size:16px;
}

.markdown-body pre>code {
    font-size:14px;
}

/* side */
#side-markdown-view {
    font-size:16px;
    width: 320px;
    border-right: 1px solid #ddd;
    height: 100vh;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: left .25s ease;
    overflow: auto;
    padding:10px;
    padding-bottom: 150px;
}

#side-markdown-view ul {
    list-style: none;
    margin:0;
}

#side-search {
    height:45px;
}

#side-search input {
    border-radius: 4px;
    padding-left:35px;
    padding-right: 35px;
    height:37px;
}

#search-loading {
    display:none;
}
#search-loading .loading-small {
    margin-left:90px;
}

#search-input button {
    color:#666;
    font-size: 13px;
    position: relative;
    left: 4px;
    top: -33px;
    background: 0 0;
    border: none;
    outline: 0;
}

#clear-button {
    text-align: right;
}

#clear-button button {
    display: none;
    color:#666;
    font-size: 10px;
    position: relative;
    right: 5px;
    top: -59px;
    background: 0 0;
    border: none;
    outline: 0;
}

#side-markdown-view ul, #side-markdown-view ol {
    background-color: #fafafa;
    padding-left: 0 !important;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    border:0;
}

#side-markdown-view li {
    border-bottom:0;
    border-left:0;
    border-right: 0;
    border-top: 1px solid #dedede;
}

#side-markdown-view i {
    padding-right: 8px;
}

/*  main */
#main-markdown-view {
    font-size:16px;
    transition: left .25s ease;
    flex:1;
    height: 100vh;
    padding: 20px 80px 150px 80px;
    overflow: auto;
}

#main-markdown-view img {
    display:block;
    text-align: center;
}

#main-markdown-view pre {
    max-height: 600px;
    overflow: auto;
}

.markdown-body ul, .markdown-body ol {
    padding-left: 20px;
}

#side-markdown-view a, #side-markdown-view a:visited {
    color: #555;
}
#side-markdown-view a:hover {
    color: #555;
    border-bottom: 0;
    text-decoration: none;
}

#side-markdown-view i {
    width: 17px;
}

#side-markdown-view i.empty-i {
    padding-right: 17px;
}
