
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>社区</title>
    <link href="http://wenda.wecenter.com/static/css/default/img/favicon.ico?v=20180831" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="{{.Config.cdn.url}}/static/plugin/amazeui-2.7.2/css/amazeui.min.css">

    <link rel="stylesheet" type="text/css" href="http://wenda.wecenter.com/static/css/icon.css" />

    <link href="http://wenda.wecenter.com/static/css/default/common.css?v=20180831" rel="stylesheet" type="text/css" />
    <link href="http://wenda.wecenter.com/static/css/default/link.css?v=20180831" rel="stylesheet" type="text/css" />
    <link href="http://wenda.wecenter.com/static/js/plug_module/style.css?v=20180831" rel="stylesheet" type="text/css" />
    <script src="http://wenda.wecenter.com/static/js/jquery.2.js?v=20180831" type="text/javascript"></script>
    <script src="http://wenda.wecenter.com/static/js/jquery.form.js?v=20180831" type="text/javascript"></script>
    <script src="http://wenda.wecenter.com/static/js/plug_module/plug-in_module.js?v=20180831" type="text/javascript"></script>
    <script src="http://wenda.wecenter.com/static/js/aws.js?v=20180831" type="text/javascript"></script>
    <script src="http://wenda.wecenter.com/static/js/aw_template.js?v=20180831" type="text/javascript"></script>
    <script src="http://wenda.wecenter.com/static/js/app.js?v=20180831" type="text/javascript"></script>
    <script type="text/javascript" src="http://wenda.wecenter.com/static/js/compatibility.js"></script>
    <script type="text/javascript" src="http://wenda.wecenter.com/static/js/layer.js"></script>
    <script type="text/javascript" src="http://wenda.wecenter.com/static/js/laydate/laydate.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="http://wenda.wecenter.com/static/js/respond.js"></script>
    <![endif]-->
</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://wenda.wecenter.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript><body>
<div class="aw-top-menu-wrap">
    <div class="container">
        <!-- logo -->
        <div class="aw-logo hidden-xs">
            <a href="http://wenda.wecenter.com"></a>
        </div>
        <!-- end logo -->
        <!-- 搜索框 -->
        <div class="aw-search-box  hidden-xs hidden-sm">
            <form class="navbar-search" action="http://wenda.wecenter.com/search/" id="global_search_form" method="post">
                <input class="form-control search-query" type="text" value="" placeholder="搜索问题、话题或人" autocomplete="off" name="q" id="aw-search-query" />
                <span title="搜索" id="global_search_btns" onClick="$('#global_search_form').submit();"><i class="icon icon-search"></i></span>
                <div class="aw-dropdown">
                    <div class="mod-body">
                        <p class="title">输入关键字进行搜索</p>
                        <ul class="aw-dropdown-list collapse"></ul>
                        <p class="search"><span>搜索:</span><a onClick="$('#global_search_form').submit();"></a></p>
                    </div>
                    <div class="mod-footer">
                        <a href="http://wenda.wecenter.com/publish" onClick="$('#header_publish').click();" class="pull-right btn btn-mini btn-success publish">发起问题</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- end 搜索框 -->
        <!-- 导航 -->
        <div class="aw-top-nav navbar">
            <div class="navbar-header">
                <button  class="navbar-toggle pull-left">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://wenda.wecenter.com/explore/" class="active"><i class="icon icon-list"></i> 发现</a></li>
                    <li><a href="http://wenda.wecenter.com/topic/"><i class="icon icon-topic"></i> 话题</a></li>
                    <li><a href="http://wenda.wecenter.com/help/"><i class="icon icon-bulb"></i> 帮助</a></li>
                    <!-- 															<li><a href="http://wenda.wecenter.com" class="active"><i class="icon icon-list"></i> 发现</a></li>
<li><a href="http://wenda.wecenter.com/topic/" ><i class="icon icon-topic"></i> 话题</a></li>
-->
                    <!-- <li><a href="http://wenda.wecenter.com/help/"><i class="icon icon-bulb"></i> 帮助</a></li> -->
                    <li>
                        <a style="font-weight:bold;">· · ·</a>
                        <div class="dropdown-list pull-right">
                            <ul id="extensions-nav-list">
                                <li><a href="http://wenda.wecenter.com/project/"><i class="icon icon-activity"></i> 活动</a></li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- end 导航 -->
        <!-- 用户栏 -->
        <div class="aw-user-nav">
            <!-- 登陆&注册栏 -->
            <a class="login btn btn-normal btn-primary" href="http://wenda.wecenter.com/login/">登录</a>
            <a class="register btn btn-normal btn-success" href="http://wenda.wecenter.com/account/register/">注册</a>								<!-- end 登陆&注册栏 -->
        </div>
        <!-- end 用户栏 -->
        <!-- 发起 -->
        <!-- end 发起 -->
    </div>
</div>

<script>
    $(function () {
        var $changeSkin = $("#changeSkin"), $skinList = $("#skinList");
        $changeSkin.mouseenter(function () {
            $skinList.stop(true,true).show();
        });
        $changeSkin.mouseleave(function (e) {
            $skinList.hide();
        });
        $skinList.mouseover(function () {
            $(this).stop(true,true).show();
        });
        $skinList.mouseleave(function (e) {
            $(this).hide();
        })
    })
</script><style type="text/css">
    .rewards{
        color: #fff;
        border-radius: 2px;
        padding: 0 10px;
        margin-left: 10px;
    }
    .reward-over{background: #b8b1b1}
    .reward-aaaa{background: #dea32b}
    .reward-ings{background: #2b98de}
</style>
<div class="aw-container-wrap">
    <div class="container category">
        <div class="row">
            <div class="col-sm-12">
                <ul class="list">
                    <li class="active"><a href="http://wenda.wecenter.com/explore/">全部</a></li>

                    <li>
                        <a href="http://wenda.wecenter.com/explore/category-2">WeCenter 程序</a>
                    </li>
                    <li>
                        <a href="http://wenda.wecenter.com/explore/category-3">建站运营</a>
                    </li>
                    <li>
                        <a href="http://wenda.wecenter.com/explore/category-4">创意与设计</a>
                    </li>
                    <li>
                        <a href="http://wenda.wecenter.com/explore/category-5">问与答</a>
                    </li>
                    <li>
                        <a href="http://wenda.wecenter.com/explore/category-8">设计</a>
                    </li>
                    <li>
                        <a href="http://wenda.wecenter.com/explore/category-9">公告</a>
                    </li>
                    <li>
                        <a href="http://wenda.wecenter.com/explore/category-10">建议</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <!-- 新消息通知 -->
                    <div class="aw-mod aw-notification-box collapse" id="index_notification">
                        <div class="mod-head common-head">
                            <h2>
                                <span class="pull-right"><a href="http://wenda.wecenter.com/setting/privacy/#notifications" class="text-color-999"><i class="icon icon-setting"></i> 通知设置</a></span>
                                <i class="icon icon-bell"></i>新通知<em class="badge badge-important" name="notification_unread_num"></em>
                            </h2>
                        </div>
                        <div class="mod-body">
                            <ul id="notification_list"></ul>
                        </div>
                        <div class="mod-footer clearfix">
                            <a href="javascript:;" onclick="AWS.Message.read_notification(false, 0, false);" class="pull-left btn btn-mini btn-gray">我知道了</a>
                            <a href="http://wenda.wecenter.com/notifications/" class="pull-right btn btn-mini btn-success">查看所有</a>
                        </div>
                    </div>
                    <!-- end 新消息通知 -->
                    <!-- tab切换 -->
                    <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                        <li><a href="http://wenda.wecenter.com/sort_type-unresponsive">等待回复</a></li>
                        <li><a href="http://wenda.wecenter.com/sort_type-hot__day-7" id="sort_control_hot">热门</a></li>
                        <li><a href="http://wenda.wecenter.com/is_recommend-1">推荐</a></li>
                        <li><a href="http://wenda.wecenter.com/is_reward-1">悬赏</a></li>
                        <li class="active"><a href="http://wenda.wecenter.com/">最新</a></li>

                        <h2 class="hidden-xs"><i class="icon icon-list"></i> 发现</h2>
                    </ul>
                    <!-- end tab切换 -->


                    <div class="aw-mod aw-explore-list">
                        <div class="mod-body">
                            <div class="aw-common-list">
                                <div class="aw-item " data-topic-id="26,">
                                    <a class="aw-user-name hidden-xs" data-id="47748" href="http://wenda.wecenter.com/people/zqf123456" rel="nofollow"><img src="http://wenda.wecenter.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32175">市场上也有多种类似的平台或软件，wecenter的突出优势有哪些？</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="42829" href="http://wenda.wecenter.com/people/fanta" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_mid.jpg" alt="" /></a>
                                        <a class="aw-user-name" data-id="44940" href="http://wenda.wecenter.com/people/Satyr" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/49/40_avatar_mid.jpg" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-5">问与答</a>
                                        • 									<a href="http://wenda.wecenter.com/people/Satyr" class="aw-user-name" data-id="44940">Satyr</a>				<span class="text-color-999">回复了问题 • 3 人关注 • 2 个回复 • 198 次浏览 • 1 小时前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item " data-topic-id="905,">
                                    <a class="aw-user-name hidden-xs" data-id="2912" href="http://wenda.wecenter.com/people/qyhyqq" rel="nofollow"><img src="http://wenda.wecenter.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32176">wecenter 3.2.2 用宝塔怎么设置伪静态呢</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="42829" href="http://wenda.wecenter.com/people/fanta" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_mid.jpg" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-2">WeCenter 程序</a>
                                        • 									<a href="http://wenda.wecenter.com/people/fanta" class="aw-user-name" data-id="42829">fanta</a>				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 24 次浏览 • 13 小时前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item " data-topic-id="29,">
                                    <a class="aw-user-name hidden-xs" data-id="28792" href="http://wenda.wecenter.com/people/%E5%BC%A0%E8%B5%9B" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/02/87/92_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32172">找人帮我几个页面</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="42829" href="http://wenda.wecenter.com/people/fanta" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_mid.jpg" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-3">建站运营</a>
                                        • 									<a href="http://wenda.wecenter.com/people/fanta" class="aw-user-name" data-id="42829">fanta</a>				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 121 次浏览 • 22 小时前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item " data-topic-id="1014,">
                                    <a class="aw-user-name hidden-xs" data-id="47884" href="http://wenda.wecenter.com/people/%E7%A0%B4%E6%99%93123" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/78/84_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32174"> openssl安装问题</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="42829" href="http://wenda.wecenter.com/people/fanta" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_mid.jpg" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-3">建站运营</a>
                                        • 									<a href="http://wenda.wecenter.com/people/fanta" class="aw-user-name" data-id="42829">fanta</a>				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 121 次浏览 • 3 天前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item active" data-topic-id="392,">
                                    <a class="aw-user-name hidden-xs" data-id="47376" href="http://wenda.wecenter.com/people/WhoCareWho" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/73/76_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32173">把xunsearch集成到wecenter系统中，有没有做过的？</a>					</h4>
                                    <a href="http://wenda.wecenter.com/question/32173#!answer_form" class="pull-right text-color-999">回复</a>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-5">问与答</a>
                                        • 													<a href="http://wenda.wecenter.com/people/WhoCareWho" class="aw-user-name">WhoCareWho</a>				<span class="text-color-999">发起了问题 • 1 人关注 • 0 个回复 • 99 次浏览 • 3 天前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item " data-topic-id="2215,">
                                    <a class="aw-user-name hidden-xs" data-id="44459" href="http://wenda.wecenter.com/people/%E7%88%B1%E5%9C%A8%E6%A2%A6%E5%B9%BB%E8%B0%B7" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/44/59_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32169">官方公众号无法微信授权登录</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="42829" href="http://wenda.wecenter.com/people/fanta" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_mid.jpg" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-5">问与答</a>
                                        • 									<a href="http://wenda.wecenter.com/people/fanta" class="aw-user-name" data-id="42829">fanta</a>				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 143 次浏览 • 4 天前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item " data-topic-id="82,">
                                    <a class="aw-user-name hidden-xs" data-id="46692" href="http://wenda.wecenter.com/people/peequn" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/66/92_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32170">问个老土的问题，主页左上角Logo图片怎么换？直接替换图片好像没透明效果</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="42829" href="http://wenda.wecenter.com/people/fanta" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_mid.jpg" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-2">WeCenter 程序</a>
                                        • 									<a href="http://wenda.wecenter.com/people/fanta" class="aw-user-name" data-id="42829">fanta</a>				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 105 次浏览 • 4 天前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item " data-topic-id="123,">
                                    <a class="aw-user-name hidden-xs" data-id="46423" href="http://wenda.wecenter.com/people/amaohome" rel="nofollow"><img src="http://wenda.wecenter.com/static/common/avatar-max-img.png" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32171">用户发问题的时候不能添加话题</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="42829" href="http://wenda.wecenter.com/people/fanta" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_mid.jpg" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-2">WeCenter 程序</a>
                                        • 									<a href="http://wenda.wecenter.com/people/fanta" class="aw-user-name" data-id="42829">fanta</a>				<span class="text-color-999">回复了问题 • 2 人关注 • 1 个回复 • 46 次浏览 • 4 天前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item " data-topic-id="68,9,">
                                    <a class="aw-user-name hidden-xs" data-id="42829" href="http://wenda.wecenter.com/people/fanta" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/04/28/29_avatar_max.jpg" alt="" /><i class="icon icon-v"></i></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32140">使用wecenter，你当前最需要什么功能/插件？</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="15613" href="http://wenda.wecenter.com/people/zengyufly" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/01/56/13_avatar_mid.jpg" alt="" /></a>
                                        <a class="aw-user-name" data-id="4356" href="http://wenda.wecenter.com/people/%E7%BB%B4%E7%89%B9%E6%A0%B9%E6%96%AF%E5%9D%A6" rel="nofollow"><img src="http://wenda.wecenter.com/static/common/avatar-mid-img.png" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-2">WeCenter 程序</a>
                                        • 									<a href="http://wenda.wecenter.com/people/zengdongping" class="aw-user-name" data-id="47859">zengdongping</a>				<span class="text-color-999">回复了问题 • 14 人关注 • 12 个回复 • 939 次浏览 • 4 天前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                                <div class="aw-item " data-topic-id="82,">
                                    <a class="aw-user-name hidden-xs" data-id="17187" href="http://wenda.wecenter.com/people/erge" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/01/71/87_avatar_max.jpg" alt="" /></a>	<div class="aw-question-content">
                                    <h4>
                                        <a href="http://wenda.wecenter.com/question/32159">pc模板来了，精修版全新模板不影响系统升级</a>					</h4>
                                    <div class="pull-right hidden-xs contribute">
                                        <span class="pull-right text-color-999">贡献</span>
                                        <a class="aw-user-name" data-id="23489" href="http://wenda.wecenter.com/people/marco_hsu" rel="nofollow"><img src="http://wenda.wecenter.com/static/common/avatar-mid-img.png" alt="" /></a>
                                        <a class="aw-user-name" data-id="413" href="http://wenda.wecenter.com/people/t" rel="nofollow"><img src="http://wenda.wecenter.com/uploads/avatar/000/00/04/13_avatar_mid.jpg" alt="" /></a>
                                    </div>

                                    <p>
                                        <a class="aw-question-tags" href="http://wenda.wecenter.com/explore/category-4">创意与设计</a>
                                        • 									<a href="http://wenda.wecenter.com/people/t" class="aw-user-name" data-id="413">minhthanhqnv</a>				<span class="text-color-999">回复了问题 • 6 人关注 • 5 个回复 • 594 次浏览 • 5 天前				</span>
                                        <span class="text-color-999 related-topic collapse"> • 来自相关话题</span>
                                    </p>

                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <div class="page-control"><ul class="pagination pull-right"><li class="active"><a href="javascript:;">1</a></li><li><a href="http://wenda.wecenter.com/sort_type-new__day-0__is_recommend-0__page-2">2</a></li><li><a href="http://wenda.wecenter.com/sort_type-new__day-0__is_recommend-0__page-3">3</a></li><li><a href="http://wenda.wecenter.com/sort_type-new__day-0__is_recommend-0__page-4">4</a></li><li><a href="http://wenda.wecenter.com/sort_type-new__day-0__is_recommend-0__page-2">&gt;</a></li><li><a href="http://wenda.wecenter.com/sort_type-new__day-0__is_recommend-0__page-2720">&gt;&gt;</a></li></ul></div>						</div>
                    </div>
                </div>

                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="http://wenda.wecenter.com/topic/channel-hot" class="pull-right">更多 &gt;</a>
                            <h3>热门话题</h3>
                        </div>
                        <div class="mod-body">
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/topic/测试"><img alt="" src="http://wenda.wecenter.com/uploads/topic/20130427/652f187b409ac95a570feec91700dade_50_50.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="http://wenda.wecenter.com/topic/测试" class="text" data-id="26">测试</a>
						</span>
                                    </p>
                                    <p><b>127</b> 个问题, <b>23</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/topic/分类"><img alt="" src="http://wenda.wecenter.com/uploads/topic/20120619/134007447218_50_50.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="http://wenda.wecenter.com/topic/分类" class="text" data-id="29">分类</a>
						</span>
                                    </p>
                                    <p><b>104</b> 个问题, <b>10</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/topic/模板"><img alt="" src="http://wenda.wecenter.com/uploads/topic/20120613/133955764091_50_50.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="http://wenda.wecenter.com/topic/模板" class="text" data-id="82">模板</a>
						</span>
                                    </p>
                                    <p><b>472</b> 个问题, <b>175</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/topic/话题"><img alt="" src="http://wenda.wecenter.com/uploads/topic/20120609/133921938870_50_50.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="http://wenda.wecenter.com/topic/话题" class="text" data-id="123">话题</a>
						</span>
                                    </p>
                                    <p><b>377</b> 个问题, <b>73</b> 人关注</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/topic/二次开发"><img alt="" src="http://wenda.wecenter.com/static/common/topic-mid-img.png" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <p class="clearfix">
						<span class="topic-tag">
							<a href="http://wenda.wecenter.com/topic/二次开发" class="text" data-id="392">二次开发</a>
						</span>
                                    </p>
                                    <p><b>498</b> 个问题, <b>120</b> 人关注</p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="aw-mod aw-text-align-justify">
                        <div class="mod-head">
                            <a href="http://wenda.wecenter.com/people/" class="pull-right">更多 &gt;</a>
                            <h3>热门用户</h3>
                        </div>
                        <div class="mod-body">

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/people/%E9%A3%8E%E8%A7%81%E9%9B%A8%E4%B8%8B"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/02/64/66_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://wenda.wecenter.com/people/%E9%A3%8E%E8%A7%81%E9%9B%A8%E4%B8%8B" data-id="26466" class="aw-user-name">风见雨下<i class="icon-v" title="个人认证"></i>						</a>
                                    <p class="signature"></p>
                                    <p><b>135</b> 个问题, <b>165</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/people/netwg"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/01/14/76_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://wenda.wecenter.com/people/netwg" data-id="11476" class="aw-user-name">netwg						</a>
                                    <p class="signature"></p>
                                    <p><b>20</b> 个问题, <b>11</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/people/wula123"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/00/86/18_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://wenda.wecenter.com/people/wula123" data-id="8618" class="aw-user-name">wula123						</a>
                                    <p class="signature"></p>
                                    <p><b>79</b> 个问题, <b>51</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/people/zengyufly"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/01/56/13_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://wenda.wecenter.com/people/zengyufly" data-id="15613" class="aw-user-name">zengyufly<i class="icon-v" title="个人认证"></i>						</a>
                                    <p class="signature"></p>
                                    <p><b>43</b> 个问题, <b>14</b> 次赞同</p>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="pull-left aw-border-radius-5">
                                    <a href="http://wenda.wecenter.com/people/fengzi"><img alt="" src="http://wenda.wecenter.com/uploads/avatar/000/04/61/68_avatar_mid.jpg" /></a>
                                </dt>
                                <dd class="pull-left">
                                    <a href="http://wenda.wecenter.com/people/fengzi" data-id="46168" class="aw-user-name">张三疯子<i class="icon-v" title="个人认证"></i>						</a>
                                    <p class="signature"></p>
                                    <p><b>16</b> 个问题, <b>6</b> 次赞同</p>
                                </dd>
                            </dl>
                        </div>
                    </div>				</div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>

<div class="aw-footer-wrap">
    <div class="aw-footer">
        Copyright © 2018<span
            class="hidden-xs"> - <a href='http://www.miibeian.gov.cn'>粤ICP备17116736号</a> 官方客服：3020438181 官方QQ群：432421687, All Rights Reserved</span>

        <span class="hidden-xs">Powered By <a href="http://www.wecenter.com/?copyright"
                                              target="blank">WeCenter 3.2.2</a></span>

    </div>
</div>


</body>
</html>
